body {
  background-color:#B6F9DE;
}
@media screen and (max-width:800px){
  #headlines {
    display: flex;
    flex-wrap: wrap;
    background-color: #B6F9DE;
  }
}
@media screen and (min-width:800px){
  #headlines {
    display: flex;
    background-color: #B6F9DE;
  }
}

#business {
  display: flex;
  background-color: #B6F9DE;
}
@media screen and (max-width:800px){
  .one {
    width: 160px;
    font-size: 10px;
    background-color: #E4FEF4;
  }
}
@media screen and (min-width:800px){
  .one {
    width: 300px;
    font-size: 20px;
    background-color: #E4FEF4;
  }
}
@media screen and (max-width:800px) {
  #business {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width:800px) {
  #business {
    display: flex;
  }
}
@media screen and (max-width:800px){
  h4 {
    color:blue;
    font-size: 14px;
  }
}
@media screen and (min-width:800px){
  h4 {
    color:blue;
    font-size: 25px;
  }
}
@media screen and (max-width:800px){
  #head>center>h2 {
    font-size: 14px;
  }
}
@media screen and (min-width:800px){
  #head>center>h2 {
    font-size: 30px;
  }
}
@media screen and (max-width:800px){
  .one>img{
    height:90px;
    width:150px;
  }
}
@media screen and (min-width:800px){
  .one>img{
    height:200px;
    width:280px;
  }
}
#sports {
  display: flex;
  background-color: #B6F9DE;
}
@media screen and (max-width:800px){
  #sports {
    display: flex;
    flex-wrap: wrap;
    background-color: #B6F9DE;
  }
}
@media screen and (min-width:800px){
  #sports {
    display: flex;
    background-color: #B6F9DE;
  }
}
