body {
  background-color:#B6F9DE;
}
#headlines {
  display: flex;
  background-color: #B6F9DE;
}
@media screen and (max-width:800px){
  .one {
    width: 160px;
    font-size: 10px;
    background-color: #E4FEF4;
  }
}
@media screen and (min-width:800px){
  .one {
    width: 300px;
    font-size: 20px;
  }
}
@media screen and (max-width:800px){
  h4 {
    color:blue;
    font-size: 14px;
  }
}
@media screen and (min-width:800px){
  h4 {
    color:blue;
    font-size: 25px;
  }
}
@media screen and (max-width:800px){
  #head>center>h2 {
    font-size: 14px;
  }
}
@media screen and (min-width:800px){
  #head>center>h2 {
    font-size: 30px;
  }
}
@media screen and (max-width:800px){
  .one>img{
    height:90px;
    width:140px;
  }
}
@media screen and (min-width:800px){
  .one>img{
    height:200px;
    width:280px;
  }
}
